<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  
  		   <groups>
		        <run>
		            <include name="JOBS" />
		            <exclude name="NATIONALITY"/>

		          
		        </run>
		    </groups>
		    
 
  
    <classes>
      <class name="Day0001.TC01_Skills"/>
       <class name="Day0001.TC01_Add_Jobs"/>
        <class name="Day0001.TC01_Nationality"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
